.muted {
  opacity: 0.75;
  font-size: 0.95em;
}

.cardish {
  border: 1px solid var(--pico-muted-border-color);
  border-radius: var(--pico-border-radius);
  padding: 1rem;
  margin-bottom: var(--pico-spacing);
}

.ares {
  background-color: var(--pico-form-element-background-color);
}

.ares > h3 {
  margin: 0;
}

.required:after {
  content:"*";
  color: var(--pico-del-color);
  font-feature-settings: "liga" 0;
}

fieldset legend {
  font-weight: bold;
}

.author-tag {
  display: inline-block;
  padding: 4px 12px;
  margin: 0 3px 0 3px;
  color: var(--pico-primary-inverse);
  background-color: var(--pico-muted-color);
  border-radius: var(--pico-border-radius);
  text-decoration: none;
  cursor: pointer;
}

.author-list {
  padding: 0 8px;
  width: 100%;
  height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2);
  --pico-outline-width: 0.0625rem;
  --pico-background-color: var(--pico-form-element-background-color);
  background-color: var(--pico-background-color);
  --pico-border-color: var(--pico-form-element-border-color);
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  overflow: visible;
  display: flex;
  align-items: center;
}

.add-list {
  display: flex;
  align-items: center;
  gap: .75rem;
  justify-content: space-between;
}

.add-list>button, div.cardish > div.add-list {
  margin: 0;
}

div.add-list {
  margin: 10px 0;
}

.grid {
  grid-row-gap: 0;
}

article>label>select,
textarea:last-child, fieldset:last-child, fieldset:last-of-type {
  margin-bottom: 0;
}

label > :where(fieldset, div.author-list) {
  margin-top: calc(var(--pico-spacing) * .25);
}

fieldset[role="group"] {
  margin-bottom: var(--pico-spacing);
  white-space: nowrap;
}

form > fieldset > legend:after {
  content: '';
  border-top: 2px solid var(--pico-muted-border-color);
  flex: 1 0 20px;
  margin: 0 0 0 20px;
}

form > fieldset > legend {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

/* theme */
/* Need to make sure this applies to all required elements because more specific rules apply unless theme is compiled with sass */
:root {
  --pico-background-color: #fff! important;
  --pico-color: #373c44! important;
  --pico-text-selection-color: rgba(2, 154, 232, 0.25)! important;
  --pico-muted-color: #646b79! important;
  --pico-muted-border-color: rgb(231, 234, 239.5)! important;
  --pico-primary: #5d1725 !important;
  --pico-primary-background: var(--pico-primary) !important;
  --pico-primary-underline: var(--pico-primary) !important;
  --pico-primary-hover: var(--pico-primary) !important;
  --pico-primary-hover-background: var(--pico-primary) !important;
  --pico-primary-focus: var(--pico-primary) !important;
  --pico-contrast-hover-background: var(--pico-primary) !important;
  --pico-contrast-inverse: #fff !important;
  --pico-secondary-border: #c1c6c8 !important;
  --pico-secondary-contrast: #777 !important;
  --pico-nav-element-spacing-horizontal: 2rem !important;
}

#mhead {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 180px;
  max-height: 12vh;
  background-color: #5d1725;
  box-shadow: 0 2px 2px 1px #5d172560;
  /* box-shadow: 0 1px 1px 1px rgb(78.6892241379, 19.4607758621, 31.3064655172); */
  /* text-align: center;
  padding: max(10px, 1.5vh); */
  align-items: center;
  display: flex;
}

/* .logo {
  width: 588px;
  max-width: 90%;
} */

.logo {
  height: 150px;
  max-height: 10vh;
  width: 588px;
  max-width: 90%;
  background-image: url("../images/cvm.png");
  background-position: center;
  background-size: contain;
  margin: auto;
}

.banner {
  height: 980px;
  background: url(../images/banner_big.jpg);
  background-position: center
}

.no-underline, .no-underline:is(:hover, :focus, :active) {
  --pico-text-decoration: none;
}

nav {
  justify-content: center;
  background: black;
  line-height: 0.5;
  box-shadow: 0 2px 2px 1px #00000060;
}

nav > ul > li  > a {
  color: white !important;
  --pico-color: white !important;
  --pico-underline: white !important;
}

.nav-current {
  background: #333;
}

.container {
  margin-top: max(20px, 3vh);
}

#msearch {
  --pico-border-radius: 0.25rem;
}

[title] {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--pico-color);
  text-underline-offset: 3px;
}

.aut-list {
    padding: 0;
    margin: 0;
    display: inline;
}

ul.aut-list li {
  list-style: none;
  display: inline;
}

ul.aut-list li:not(:last-child)::after {
  content: ", ";
}

.contrib-detail, .assay-detail {
  font-size: medium;
  color: var(--pico-blockquote-footer-color);
}

.contrib-detail {
  margin-bottom: 0;
    display: flex;
  justify-content: space-between;
}

.sub-detail p {
  margin: 0;
}

.sub-detail {
  margin-bottom: var(--pico-typography-spacing-vertical);
}

header {
  padding: 0 !important;
  min-width: 150px;
}

footer {
  font-size: small;
  text-align: center;
  min-height: 50px;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.icon {
  margin-left: 10px;
  width: 25px;
}

.detail-icons > a {
  text-decoration: none;
}