---
---
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="light dark" />
  <meta name="description" content="A simple WebApp to browse and submit equine assay validation data.">
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/sort@3.15.12/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.12/dist/cdn.min.js"></script>
  <title>Equine Assay Registry</title>
</head>

<body>
  {% include header.html%}
  <main class="container">

  {% assign submissions = "" | split: "" %}
  {% for submission in site.data %}
    {% assign submissions = submissions | push: submission[0] %}
  {% endfor %}

  <script>
    async function loadJsonFiles(files) {
      try {
        const fetchPromises = files.map(file => 
          fetch(file).then(response => {
            if (!response.ok) throw new Error(`Failed to load ${file}`);
            return response.json();
          })
        );
        return await Promise.all(fetchPromises);
      } catch (error) {
        console.error("Error loading JSON files:", error);
      }
    }
  </script>

  <div x-data='{
            descriptor: "",
            submissions: {{submissions | jsonify}},
            init() {
              const urlParams = new URLSearchParams(window.location.search);
              this.descriptor = urlParams.get("descriptor") || "";
              this.subs = this.submissions.filter(s => s.includes(this.descriptor.replace(/ /g,"_"))).map(s => `./_data/${s}.json`);
              this.submissions = loadJsonFiles(this.subs);
            }
   }'>
   
   <button onclick="document.referrer ? history.back() : window.location.href = 'index.html';" class="outline" style="margin-bottom: 20px;">< Back</button>
   <h2 x-text="descriptor"></h2>
   
      <p><span x-text="subs.length"></span> <span x-show="subs.length != 1">records were found.</span><span x-show="subs.length === 1">record was found.</span></p>

      <template x-for="sub in submissions">
        <div class="cardish ares">
          <p class="assay-detail">
            <span x-text="sub.assay.targetSpecies"></span>
            <span x-text="sub.assay.target"></span>
            (<a :href="sub.assay.url" x-text="sub.assay.manufacturerRef"></a><span x-show="sub.assay.platform"> on <span x-text="sub.assay.platform"></span></span><span x-show="sub.assay.availability">, <span :title="sub.date" x-text="sub.assay.availability" style="text-transform: lowercase;"></span></span>)
          </p>

          <template x-if="sub.submissionType === 'published'">
            <div class="sub-detail">
                <a :href="`https://doi.org/${sub.submissionDetails.doi}`"><h4 x-text="sub.submissionDetails.title"></h4></a>
                <ul class="aut-list">
                  <template x-for="aut in sub.submissionDetails.authors">
                    <li><span :title="`ORCID iD: ${aut.ORCID}, affiliation: ${aut.affiliation.name}`"><span x-text="aut.given"></span> <span x-text="aut.family"></span></span></li>
                  </template>
                </ul>
                <p x-text="sub.submissionDetails.coi"></p>
            </div>
          </template>

          <!-- needs to be checked with original -->
          <template x-if="sub.submissionType === 'original'">
            <div class="sub-detail">
                <ul class="aut-list">
                  <template x-for="aut in sub.submissionDetails.authors">
                    <li><span :title="`ORCID iD: ${aut.orcid}, affiliation: ${aut.affiliation}`"><span x-text="aut.firstName"></span> <span x-text="aut.middleInitials"></span> <span x-text="aut.lastName"></span></span></li>
                  </template>
                </ul>
                <p x-text="sub.submissionDetails.coi"></p>
                <template x-if="sub.submissionDetails.ethics.notRequired">
                  <p>The authors declare that the validation was not subject to ethical approval according to national and international regulations.</p>
                </template>
                <template x-if="!sub.submissionDetails.ethics.notRequired">
                  <p>The samples used for the validation were obtained as part of a protocol approved by <span x-text="sub.submissionDetails.ethics.approvedBy" :title="`File number: ${sub.submissionDetails.ethics.fileNumber}`"></span>.</p>
                </template>
            </div>
          </template>

          <p>
            <template x-for="mat in sub.validation.matrices">
              <ul>
                <li><span x-text="mat.outcome"></span> validation for <b><span x-text="mat.name"></span></b> in <span x-text="mat.year"></span></li>
                <ul>
                  <template x-for="met in mat.metrics">
                    <li><span x-text="met.type"></span>: <span x-text="met.value"></span><span x-show="met.unit"> <span x-text="met.unit"></span></span><span x-show="met.comment">, <span x-text="met.comment"></span></span></li>
                  </template>
                </ul>
              </ul>
            </template>
          </p>
          <p x-text="sub.validation.method"></p>
          <p x-text="sub.additional.aboutAssay"></p>
          
          <p class="contrib-detail">
            Submitted by
            <span :title="`ORCID iD: ${sub.contributor.orcid}, affiliation: ${sub.contributor.affiliation}`">
              <span x-text="sub.contributor.firstName"></span>
              <span x-text="sub.contributor.middleInitials"></span>
              <span x-text="sub.contributor.lastName"></span></span>
            on
            <span x-text="sub.date"></span>
          </p>
        </div>
      </template>
  </div>
  </main>
</body>
</html>