---
---
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="light dark" />
  <meta name="description" content="A simple WebApp to browse and submit equine assay validation data.">
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.12/dist/cdn.min.js"></script>
  <title>Equine Assay Registry</title>
</head>

<body>
  {% include header.html %}
  <main class="container" x-data="previewForm">
    <label>
      Paste submission as JSON
      <textarea x-model.trim="s" x-effect="updateSubs();" rows="4"></textarea>
    </label>
    <details x-show="submissions.length > 0" style="margin-top: 1rem;" open>
      <summary>Submission preview</summary>
      {% include assay-cardview.html %}
    </details>
  </main>
  <script>
    function previewForm() {
      return {
        s: '',
        submissions: [],
        updateSubs() {
          try {
            this.submissions = [JSON.parse(this.s)];
          } catch (error) {
            console.log('JSON parsing error', error.message);
          }
        }
      }
    }
  </script>
  {% include footer.html %}
</body>
</html>
